{% extends 'base.html' %}
{% block title %}Boggle!{% endblock %}

{% block content %}
<div id="container">
    <div>
        <div id="home-card">
            <h3>Welcome to Boggle!</h3>
            <button id="start-game">Start game</button>
        </div>
        <table id="board">
            {% for row in board %}
            <tr>
                {% for col in row %}
                <td class="cell">{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="form-wrapper">
        <form href="/" id="word-form">
            <label for="word">Enter a word: </label>
            <input type="text" name="word" id="word">
            <button type="submit">Go!</button>
        </form>
        <p id="result"></p>
    </div>
    <div id="info">
        <div id="current-game">
            <h3><span id="score-label"><b><span id="timer">1:00</span></b> | Player score:</span><span
                    id="score">0</span></h3>
        </div>
        <div id="stats">
            <h3><span id="high-score-label">High score:</span><span id="high-score">{{ high_score }}</span></h3>
            <h3><span id="games-played-label">Games played:</span><span id="games-played">{{ games_played }}</span></h3>
        </div>
    </div>
    <div id="game-over">
        <h2>Game Over!</h2>
        <h3 id="final-score-container">Your final score is <span id="final-score"></span></h3>
        <h3 id="high-score-alert">You set a new high score!</h3>
        <button id="ok">Ok</button><button id="new-game">New game</button>
    </div>
</div>
{% endblock %}